/* fonts */

@font-face {
  font-weight: normal;
  font-family: 'Open Sans';
  src: url(./assets/fonts/Open\ Sans/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-weight: bold;
  font-family: 'Open Sans';
  src: url(./assets/fonts/Open\ Sans/static/OpenSans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Neucha;
  src: url(./assets/fonts/Neucha/Neucha-Regular.ttf);
}

body {
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
}

.neucha {
  font-family: Neucha, cursive;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

/* font-colors */
.primary {
  color: #fe8a02;
}

.white {
  color: #fff;
}

.dark {
  color: #2a2626;
}

.primary-dark {
  color: #42413c;
}

.dark50 {
  color: #908d8b;
}

.brown {
  color: #b09a81;
}

.white50 {
  color: #d7ccc0;
}

/* background colors */

.primary-background {
  background-color: #fe8a02;
}

.light-background {
  background-color: #f5f4f0;
}

/* headings */

h1 {
  font-weight: normal;
  line-height: 1.2em;
  font-size: 72px;
}

h2 {
  line-height: 1.2em;
  font-size: 60px;
}

h3 {
  line-height: 1.2em;
  font-size: 34px;
}

/* sections */

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  margin: 100px auto;

  max-width: 1110px;
}

/* style for text */

.text-box {
  width: 540px;
}

.text-between {
  display: flex;
  flex-flow: row nowrap;
}

.inline-block-margin-top {
  display: inline-block;
  margin-top: 15px;
}

/* conteiner */

.header {
  display: flex;
  flex-flow: column wrap;
}

.background-img::before {
  display: block;
  width: 1440px;
  height: 914px;

  position: absolute;

  background-image: url("/src/assets/images/background.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 6%;
  
  content: "";
}

.cogn-header {
  display: inline-block;
  width: 376px;
}

/* head img */

.headImg {
  position: relative;
  display: flex;
}

.headImg-header {
  width: 800px;
}

img[alt="main logo"] {
  position: absolute;
  top: -13px;
  left: 275px;
  z-index: 0;
}

/* button */

.more-details {
  position: relative;
  left: 50%;

  margin: 24px 12px;
  padding: 0;
  border: none;

  width: 149px;
  height: 48px;

  font-weight: bold;
  font-size: 16px;

  cursor: pointer;
}

.more-details:hover {
  background-color: #ea7600;
}

