:root {
  --main-color: #fe8a02;
  --main-color-hover: #ea7600;
  --main-color-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-op: #908d8b;
  --color-brown: #b09a81;
  --color-white: #fff;
  --color-white-op: #d7ccc0;
  --color-light: #f5f4f0;
  --color-dark-more: #212529;
  --color-blue: #007dc1;
  --color-blue-light: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.woff2");
}

.body-font {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  font-size: 16px;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.dis-block {
  display: block;
}

.size-section {
  width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.text-center {
  text-align: center;
}

.col {
  flex: 1 1 50%;
  margin-right: 30px;
}

.col:last-child {
  margin-right: 0;
}

.main-color {
  color: var(--main-color);
}

.white-color {
  color: var(--color-white);
}

.brown-color {
  color: var(--color-brown);
}

.white-op-color {
  color: var(--color-white-op);
}

.dark-color {
  color: var(--color-dark);
}

.dark-op-color {
  color: var(--color-dark-op);
}

.dark-more-color {
  color: var(--color-dark-more);
}

.blue-color {
  color: var(--color-blue);
}

.blue-color-light {
  color: var(--color-blue-light);
}

.bg-brown {
  background-color: var(--color-brown);
}

.bg-main {
  background-color: var(--main-color);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-dark {
  background-color: var(--main-color-dark);
}

.bg-light {
  background-color: var(--color-light);
}

.no-style-ul {
  list-style-type: none;
}

.text-dec {
  text-decoration: none;
}

.mg-0 {
  margin: 0;
}

.pg-0 {
  padding: 0;
}

.vert-align {
  vertical-align: middle;
}

.line-h {
  line-height: 1.2em;
}

.font-f {
  font-family: Neucha, sans-serif;
  font-weight: 400;
}

.f-s-h1 {
  font-size: 72px;
}

.f-s-h2 {
  font-size: 60px;
}

.f-s-h3 {
  font-size: 34px;
}

.bg-img::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.1;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.z-1 {
  z-index: 1;
}

.img-header {
  height: 525px;
  top: 55px;
  right: -270px;
  z-index: 0;
}

.overflow {
  overflow: hidden;
}

.mg-top {
  margin-top: 185px;
}

.mg-top-30 {
  margin-top: 30px;
}

.link-main {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 40px;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.button-hover:hover {
  background-color: var(--main-color-hover);
}

.mg-b-30 {
  margin-bottom: 30px;
}

.pg-bottom-0 {
  padding-bottom: 0;
}

.border-0 {
  border: 0;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.mg-b-100 {
  margin-bottom: -100px;
}

.pg-top-100 {
  padding-top: 100px;
}

.f-s-52 {
  font-size: 52px;
}

.wrap {
  flex-wrap: wrap;
}

.pg-24 {
  padding: 24px;
}

.nav-item {
  box-sizing: border-box;
  flex: 1 1 350px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.link-size {
  width: 100%;
  height: 100%;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item:nth-of-type(3n + 1) {
  margin-left: 0;
}

.nav-item:nth-of-type(3n + 3) {
  margin-right: 0;
}

.nav-item:nth-of-type(n + 4) {
  margin-bottom: 0;
}

.nav-number {
  display: block;
  margin-bottom: 40px;
}

.nav-number-font {
  font-family: Neucha, sans-serif;
  font-size: 64px;
  line-height: 1em;
}

.nav-item:nth-of-type(n + 2):hover.nav-item:nth-of-type(n + 2) {
  background-color: var(--main-color);
  color: var(--color-white);
}

.nav-item:hover h3 {
  color: var(--color-white);
}

.mg-b-0 {
  margin-bottom: 0;
}

.h3-how-brown {
  margin-top: 100px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.f-s-14 {
  font-size: 14px;
}

.f-s-24 {
  font-size: 24px;
}

.h3-how-white {
  margin-top: 100px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.mg-top-60 {
  margin-top: 60px;
}

.f-s-norm {
  font-style: normal;
}

.mg-55 {
  margin: 55px;
}

.fs-12 {
  font-size: 12px;
}

.f-s-18 {
  font-size: 18px;
}

.input-footer {
  box-sizing: border-box;
  height: 50px;
  padding: 15px;
  flex-grow: 1;
}

.mg-top-9 {
  margin-top: 9px;
}

.input-footer::placeholder {
  opacity: 0.2;
}

.button-footer {
  width: 70px;
  height: 50px;
}

.button-footer::before {
  content: " ";
  position: absolute;
  background-image: url("../images/send.svg");
  width: 24px;
  height: 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mg-r-55 {
  margin-right: 55px;
}